md-card {
    width: 400px;
    height: 300px;
    margin: 15px;
}
@media only screen and (max-width: 768px) {
    md-card {
        margin: 15px 0 !important;
    }
}

@media only screen and (max-width: 420px) {
    md-card {
        width: 300px;
    }
}
md-card:hover {
    box-shadow: 3px 3px 16px -2px rgba(0, 0, 0, .5);
}
md-card-title {
    margin-right: 10px;
}
md-card-title-group {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    width: 60px;
    min-width: 60px;
    margin-left: 5px;
}
md-card-content {
    margin-top: 15px;
    margin: 15px 0 0;
}
span {
    display: inline-block;
    font-size: 13px;
}
md-card-footer {
    padding: 0 25px 25px;
}