.ngb-sidebar {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    .ngb-sidenav {
        // padding: 20px;
        md-list{
            md-list-item{
                padding: 5px 30px;
                &.active, &:hover{
                    cursor: pointer;
                    color: #fff;
                    background: #333;
                }
            }
        }
    }
}

.menu-toggle{
    margin-left: 10px;
}